extends layout

block content  
  h1
    span F1 Drivers
  h2 This is for part 2 of the Red Hat Single Sign On demo
  p To access the driver data, please login.
  br
  a(href="/drivers")
    button() Login